<!DOCTYPE html>
<html>
  <head>
    <title>Flask Intro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
      <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
      <script src = "static/js/welcome.js"></script>


  </head>
  <body>
    <div class="container">
      <h1>Welcome to When In Rome!</h1>
      <br>
      <p>Click <a href="/">here</a> to go home.</p>
</head>
<body>

<div class="ui-widget">
  <label for="city">Your city: </label>
    <form action="{{ url_for('get_city_name') }}" method="POST">
    <input id="city" type="text" name="text">
        <input type="submit" name="index" value="Send">
    </form>

{#  Powered by <a href="http://geonames.org">geonames.org</a>#}
</div>

{#<div class="ui-widget" style="margin-top:2em; font-family:Arial">#}
{#  Result:#}
{#  <div id="log" style="height: 200px; width: 300px; overflow: auto;" class="ui-widget-content"></div>#}
{#</div>#}


        <div class="row">
            <div class  ="col-md-6">.col-md6</div>
            <div class  ="col-md-6">col-md6</div>
        </div>

         <div class="row">
            <div class  ="col-md-6">.col-md6</div>
            <div class  ="col-md-6">col-md6</div>
        </div>

    </div>
  </body>
</html>
